:root {
  /* color */
  --color-white: #ffffff;
  --color-black: #222222;
  --color-ligth-black: #333333;
  --color-dark-grey: #999999;
  --color-grey: #c4c4c4;
  --color-light-grey: #eeeeee;
  --color-skill: #555555;
  --color-value: #eb7440;
  --color-tools: #828282;
  --color-licenses: #666666;
  --color-blue: #67728c;
  --color-orange: #ffb996;
  --color-yellow: #ffd79b;

  /* font-size */
  --font-super: 3rem;
  --font-large: 2rem;
  --font-medium: 1.5rem;
  --font-small-title: 1.125rem;
  --font-regular: 1rem;
  --font-small: 0.875rem;

  /* font-weight */
  --weight-bold: 700;
  --weight-semi-bold: 500;
  --weight-regular: 400;
  --weight-light: 300;
  --weight-thin: 100;

  /* font-family */
  --font-josefin: 'Josefin Sans', sans-serif;
  --font-spoqa: 'Spoqa Han Sans Neo', 'sans-serif';
}

/* Universal */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-spoqa);
  color: var(--color-ligth-black);
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-super);
  font-weight: var(--weight-bold);
  font-family: var(--font-josefin);
  color: var(--color-black);
}

h2 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
}

h3 {
  font-size: var(--font-small-title);
}

p {
  font-size: var(--font-regular);
}

/* Navbar */
#navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: transparent;
  font-family: var(--font-josefin);
  color: var(--color-white);
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 300ms ease;
}

#navbar.navbar__dark {
  background-color: var(--color-blue);
  padding: 0 2rem;
}

.navbar__logo {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  display: flex;
  align-items: center;
}

.navbar__logo i {
  color: var(--color-yellow);
  padding-right: 0.625rem;
}

.navbar__menu {
  display: flex;
  font-size: var(--font-medium);
}

.navbar__menu__item {
  padding: 0 1rem;
  cursor: pointer;
  transition: all 300ms ease;
}

.navbar__menu__item.active {
  color: var(--color-yellow);
}

.navbar__menu__item:hover {
  color: var(--color-yellow);
}

.navbar__toggle-btn {
  color: var(--color-white);
  font-size: var(--font-medium);
  position: absolute;
  right: 1rem;
  display: none;
}

/* Home */
#home {
  background: url(imgs/home__background.png) fixed center/cover no-repeat;
  color: var(--color-white);
  padding: 2.5rem;
  padding-top: 7.5rem;
}

.home__container {
  text-align: center;
  opacity: 1;
}

.profile {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.home__description {
  padding: 0 3.125rem;
}

.home__contact {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  font-family: var(--font-josefin);
  color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: 5px;
  margin: 1.25rem 0;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
}

.home__contact:hover {
  border-color: var(--color-blue);
  color: var(--color-blue);
}

/* section */
.section {
  text-align: center;
}

.section__container {
  max-width: 1200px;
  margin: 2.5rem;
  padding: 0.625rem 0;
  padding-bottom: 5rem;
  margin: auto;
}

/* About me */
.about__description {
  margin: 2.5rem 0;
  font-size: var(--font-regular);
}

.about__majors {
  padding: 2.5rem 0;
  display: flex;
  justify-content: space-around;
}

.major {
  width: 30%;
}

.major__icon {
  width: 200px;
  height: 200px;
  line-height: 200px;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  font-size: 4.375rem;
  color: var(--color-blue);
  margin: auto;
  transition: all 300ms ease;
}

.major__icon:hover {
  border-color: var(--color-orange);
}

.major__icon i {
  transition: all 300ms ease;
}

.major__icon:hover i {
  color: var(--color-orange);
  transform: scale(1.2);
}

.about__schools {
  text-align: left;
}

.school {
  display: flex;
  align-items: center;
  padding: 0.625rem;
}

.school img {
  width: 60px;
  border-radius: 50%;
  margin-right: 1.25rem;
}

.school__name {
  font-size: var(--font-regular);
}

.school__period {
  font-size: var(--font-small);
  color: #999999;
}

/* Skills */
#skills {
  background-color: var(--color-yellow);
}

.skillset {
  padding: 0 2.5rem;
}

.skill__top {
  width: 90%;
  margin: auto;
  margin-bottom: 2.5rem;
}

.skill {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.skill__img {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.skill p {
  width: 20%;
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 0 0.5rem;
}

.skill span {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 0 0.5rem;
}

.skill__bar {
  width: 100%;
  height: 10px;
  background-color: var(--color-skill);
}

.skill__value {
  width: 0;
  height: 10px;
  background-color: var(--color-value);
  transition: all 500ms ease;
}

.skill__bottom {
  width: 90%;
  background-color: var(--color-grey);
  margin: auto;
  color: var(--color-white);
  display: flex;
}

.skill__bottom .tools {
  width: 50%;
  background-color: var(--color-tools);
  padding-bottom: 1rem;
}

.skill__bottom .licenses {
  width: 50%;
  background-color: var(--color-licenses);
  padding-bottom: 1rem;
}

.skill__bottom .list {
  width: 50%;
  margin: auto;
}

.skill__bottom .list li {
  text-align: left;
  padding: 8px;
}

/* My work */
.category__btn {
  background-color: var(--color-blue);
  font-size: var(--font-small-title);
  color: var(--color-white);
  border-radius: 5px;
  padding: 0.5rem 2rem;
  box-shadow: 1px 1px 3px var(--color-grey);
  cursor: pointer;
}

.work__projects {
  margin: auto;
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-around;
}

.project {
  width: 300px;
  height: 300px;
  background-color: #f5f5f5;
  box-shadow: 1px 1px 5px #cccccc;
  border-radius: 10px;
  position: relative;
}

.project:hover .project_link {
  top: 0;
  opacity: 1;
}

.project_img {
  width: 100%;
}

.project_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  left: 0;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.project_link .link_title {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
}

.project_link .line {
  width: 80%;
  height: 1px;
  background-color: #cccccc;
}

.project_link .link_description {
  font-size: var(--font-regular);
}

.project_link .link_language {
  font-size: var(--font-small);
}

/* Contact Me */
#contact {
  background: url(imgs/contact_bg_img.png) center/cover no-repeat;
  color: var(--color-white);
}

.contact__dark {
  background-color: rgba(0, 0, 0, 0.4);
}

#contact .section__container {
  margin-bottom: 0;
  padding-bottom: 1.25rem;
}

.contact__title {
  color: var(--color-white);
}

.contact__link a i {
  font-size: var(--font-super);
  transition: all 300ms ease;
}

.contact__link a:hover i {
  color: var(--color-yellow);
}

/* Arrow up */
.arrow-up {
  width: 60px;
  height: 60px;
  background-color: var(--color-blue);
  border-radius: 50%;
  font-size: var(--font-large);
  color: var(--color-white);
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in;
}

.arrow-up.visible {
  pointer-events: auto;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  :root {
    /* font-size */
    --font-super: 2rem;
    --font-large: 1.5rem;
    --font-medium: 1.125rem;
    --font-small-title: 1rem;
    --font-regular: 0.875rem;
    --font-small: 0.75rem;
  }

  /* Navbar */
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    background-color: var(--color-blue);
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  #navbar.navbar__dark {
    padding: 1rem;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    margin: auto;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .navbar__menu__item {
    padding: 1rem;
  }

  /* section */
  .section__container {
    margin: 0.125rem 1rem;
    padding-bottom: 2.5rem;
  }

  /* About me */
  .about__bubble__container {
    height: 300px;
  }

  .about__bubble {
    width: 60%;
  }

  .bubble3 {
    width: 80%;
    left: 5%;
  }

  .about__majors {
    padding: 1.25rem 0;
    flex-direction: column;
    align-items: center;
  }

  .major {
    width: 100%;
    margin-bottom: 1.25rem;
  }

  /* skills */
  .skillset {
    padding: 0.5rem;
  }

  .skill__bottom {
    flex-direction: column;
  }

  .skill__bottom .tools,
  .skill__bottom .licenses {
    width: 100%;
    padding: 0 2rem;
    padding-bottom: 1rem;
  }

  /* My work */
  .work__projects {
    flex-direction: column;
    justify-content: center;
  }

  .project {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-bottom: 0.625rem;
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    bottom: 1.25rem;
    right: 1.25rem;
  }
}
